.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bodyShop {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  background-color: #1363DFE6;
  width: 100%;
  min-height: 75vh;
  align-items: center;
  /* margin-left: 15%; */

}

/* img {
  width: 22rem;
} */

.botonesShop {
  display: flex;
  justify-content: center;
  margin: 1%;
  gap: 3rem;
}
/*NavBar*/
.css-1t6c9ts{ /**/
  justify-content: center;
}
/***/
.css-o4b71y-MuiAccordionSummary-content{
  justify-content: center;
}

.google-pay-button-container:hover {
  transform: none;
  scale: none;
}



/* /pseudo-element affects scrollstyle/ */
::-webkit-scrollbar {
  width: 15px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px orange;
  border-radius: 1px;
}


::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 1px;
}

/* @media (max-width: 990px) {
  .card-container {
    width: 100%;
  }


} */