* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sriracha&display=swap');

/* FORMULARIOS */
/* FORMULARIOS */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #e0e0e0;
}
.container-signup {
  position: relative;
  width: 70vw;
  max-width: 100%;
  min-height: 75vh;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.container-signup-s{
  position: relative;
  width: 70vw;
  max-width: 100%;
  min-height: 75vh;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.sign-up,
.sign-in {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.sign-up,
.sign-up-ctn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.sign-up {
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.sign-in {
  width: 50%;
  z-index: 2;
}
.sign-up-ctn{
  width: 50%;
  z-index: 2;
}

.formRegistro{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
.formRegistro-signup{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
.title-signup {
  font-weight:600;
  margin: 0;
  font-size: 25px;
}

.signUp-input {
  background-color: #eee;
  padding: 12px 15px;
  margin: 8px 15px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
}

.accountbtn {
  color: #fff;
  background-color: #afc68a;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 55px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #afc68a;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
#signIn,
#signUp {
  background-color: transparent;
  border: 2px solid #fff;
}
.overlay-ctn {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}
.overlay-ctn-signin{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}
.overlay {
  position: relative;
  color: #fff;
  background-color: #afc68a;
  left: -100%;
  height: 100%;
  width: 200%;
  background: linear-gradient(to right, #0a1929, #afc68a);
}
.overlay-signup{
  position: relative;
  color: #fff;
  background-color: #afc68a;
  left: -100%;
  height: 100%;
  width: 200%;
  background: linear-gradient(to right, #0a1929, #afc68a);
}

.overlay-left,
.overlay-right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
}
.overlay-left,
.overlay-right-s{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
}
.overlay-right-s{
  right: 0;
  background-image: url('https://images.unsplash.com/photo-1512374382149-233c42b6a83b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.overlay-right{
  right: 0;
  transform: translateX(0);
  background-image: url('https://images.unsplash.com/photo-1640391846040-6e9e41388ad4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.badge{
  transform: translateY(-.8rem);
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-ctn {
  margin: 20px;
  display: flex;
}
.icons {
  background-color: none;
  border-radius: 50%;
  margin: 5px;
}
/* FORMULARIOS HASTA ACA */
/* FORMULARIOS HASTA ACA */
@media screen and (max-width:1300px) {
  .container {
    min-height: 70vh !important;
  }
}
@media screen and (max-width:1500px){
  .EZDrawer .EZDrawer__checkbox:checked ~ .EZDrawer__container{
    width: 50vw !important;
  }
  .products{
    width: 70% !important;
  }
}

@media screen and (max-width:650px){
  .products{
    width: 60vw !important;
    background-color: red;
  }
}

@media screen and (max-width:1000px){
  .EZDrawer .EZDrawer__checkbox:checked ~ .EZDrawer__container{
    width: 70vw !important;
  }
  .backColor{
    display: flex !important;
    flex-direction: column !important;
    margin: 10px;
    width: 90vw !important;
    min-height: 70vh !important;
    justify-content: center;
    align-items: center;
  }
  .form-add{
    width: 90vw !important;
  }
  .input-admin{
    width: 100% !important;
  }
  .formDelete{
    width: 90vw !important;
    height: 40vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .form-delete{
    width: 90vw !important;
  }
  .input-admin-delete{
    width: 100% !important;
  }
}
@media screen and (max-width:860px){
  .accountbtn{
    font-size: 10px;
    }
    .signUp-input{
      padding: 5px 5px;
      margin: 5px;
    }
    .title-signup{
      font-size: 13px;
    }
    .overlay-ctn{
      display: none;
    }
    .container-signup{
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
    .container-signup-s{
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      width: 90vw;
    }
    .formRegistro{
      background-image: url('https://images.unsplash.com/photo-1512374382149-233c42b6a83b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');
      background-color:transparent;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .sign-in{
      width: 100% !important;
    }
    .formRegistro-signup{
      background-image: url('https://images-ext-2.discordapp.net/external/bJCh4XXzByjWVzvWBJstjmZJ_4D1qbBHvq5qVzBNFGk/http/imgfz.com/i/6VSyuvZ.png?width=450&height=675');
      background-color:transparent !important;
      background-position: center !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      width: 100% !important;
    }
    .overlay-ctn-signin{
      width: 100% !important;
    }
    .title-signup{
      color: #fff !important;
      font-size: 30px;
      line-height: 12px;
    }
    .or-text{
      color: #fff !important;
      font-size: 20px;
      font-weight: 800;
    }
    .responsive-btn{
      display: contents !important;
    }
    .title-signup{
      font-size: 15px
    }
    .btn-responsive{
      text-decoration: underline;
      border: none !important;
      color: #fff;
      font-size: 18px;
    }
    .title-signup-res{
      font-size: 15px;
      color: #fff;
    }
    .sign-up-ctn{
      width: 100% !important;
    }
    .overlay-signup{
      display: none;
      background-color: transparent;
    }
  }
@media screen and (max-width:500px){
  .title-signup{
    font-size: 20px !important;
  }
  .body{
    width: 100%;
  }
  .container-signup{
    width: 90vw !important;
  }
  .accountbtn{
    font-size: 10px !important;
    margin: none;
    width: 100%;
  }
  .title-signup-res{
    font-size: 15px;
    color: #fff;
  }
}

.Header {
  display: flex;
  justify-content: center;
  background-color: #fff;
  /* height: 10vh; */
  /* padding-top: 2%; */
  /* padding-bottom: 2%; */
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.MuiButtonBase-root {
  background-color: white;
}

.MuiAccordionSummary-content {
  background-color: white;
}

.filtersShop {
  display: flex;
  align-items: center;
  gap: .5rem;
}

#demo-simple-select {
  height: 0.1rem;
  width: 5rem;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding-right: 27px !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  height: auto;
  min-height: 1.4375em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px 18px !important;
}

.css-1c06h5h-MuiPaper-root-MuiAppBar-root {
  background-color: #000 !important;
}

.css-15v22id-MuiAccordionDetails-root {
  display: flex;
  padding: 0% !important;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 2.5rem;
}

.btn {
  padding: 10px;
  cursor: pointer;
  margin: 10px;
}

.cart-ctn {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
}

.drawer-ctn {
  background-color: #fff !important;
  width: 30vw !important;
  min-height: 100% !important;
  overflow-y: scroll;
}

.article-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow-y: scroll;
  height: 65vh;
  margin-bottom: 10px;
}
.article-ctn::-webkit-scrollbar {
  display: none;
}
.article-ctn::-webkit-scrollbar-track {
  display: none;
}
.article-ctn::-webkit-scrollbar-thumb {
  display: none;
}
.article-ctn::-webkit-scrollbar-track-piece {
  display: none;
}

.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dddddd;
  min-width: 25vw;
  min-height: 20vh !important;
  margin: 10px;
  box-shadow: 0 8px 6px -6px black;

}

.imgdiv {
  background-color: #F2F2F2;
  height: 100%;
  box-shadow: 0 8px 6px -6px black;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titlediv {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.name-product{
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  /* width: 100%; */
}
.btndiv {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/* BTN */
.btndelet {
  /* width: 35px; */
  /* height: 35px; */
  margin: 5px;
  /* margin-left: 100px; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  /* border: none; */
  /* border-radius: 5px; */
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); */
  /* display: flex; */
  /* align-items: center; */
}

.icon {
  color: white;
}

.total-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.price-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 90%;
  min-height: 4vh;
  background-color: #ebebeb;
  border-radius: 10px;
  color: black;
}

.h2-ctn {
  text-align: center;
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-cart-shop {
  font-size: 30px;
  font-family: 'Poppins', sans-serif !important;
  color: black;
  margin: 5px;
  font-weight: 200 !important;
}

.imgShops {
  width: 8vw;
}

.ctn-btn-pagos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.paypal-btn {
  background-color: #ffaf00;
  color: blue;
  border: none;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.mp-btn {
  background-color: #009ee3;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
/* ADMIN FORM */

.adminFormCtn{
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#e0e0e0;
}
.backColor{
  background-color:white;
  display: flex;
  flex-direction:row;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-image: url('https://images.unsplash.com/photo-1518656306295-aa28b28b2504?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-image: url('https://images.unsplash.com/photo-1536250141241-b11c84eff38b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  min-height: 80vh;
}
.form-add{
  height: 85vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:transparent;
}
.add-title{
  text-align: center;
  color:black;
  font-family:sans-serif;
  font-weight:500;
  font-size: 40px !important;
}
.input-boxes{
  width: 90%;
  height: 100%;
}
.input-admin{
  background-color:#fff;
  padding: 6px 6px;
  margin:5px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
}
.input-admin::placeholder{
  color: black !important;
  font-weight: 300;
}
.btn-admin{
  background-color:#afc68a;
  width: 100%;
  height: 5vh;
}
.h2cont{
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 10px;
}
.formDelete{
  height: 70vh;
}
.form-delete{
  height: 100%;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input-admin-delete{
  background-color:#fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.responsive-btn{
  display: none;
}
.input-box-add{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.button-ctn{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}


/**btnNav*/
/* 
.btnNav:focus,
.btnNav:hover {
  color: rgb(255, 255, 255);
}

.btnNav:after,
.btnNav:after {
  width: 100%;
  left: 0%;
}

.btnNav:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  
  background-color: #df1313e6;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
} */
/******/
.btnNav {
  font-size: 18px;
  /* font-weight: 800; */
  font-family: 'Poppins', sans-serif!important;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.btnNav:focus,
.btnNav:hover {
  color: rgb(255, 255, 255);
}

.btnNav:focus:after,
.btnNav:hover:after {
  width: 100%;
  left: 0%;
}

.btnNav:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  /* background-color: rgb(255, 0, 0); */
  background-color: rgb(255, 255, 255);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
