* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}
.body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  /* background: linear-gradient(-30deg, rgba(33, 102, 180, 0.614) 0%, rgb(26, 89, 190) 50%, #609855 50%, #6eaa75 100%); */
}
.container{
  position: relative;
  width: 70vw;
  max-width: 100%;
  min-height: 65vh;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
}
.sign-up,.sign-in{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.sign-up{
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.sign-in{
  width: 50%;
  z-index: 2;
}
form{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
h1{
  font-weight: bold;
  margin: 0;
}
p{
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 15px 0 20px;
}
input{
  background-color: #eee;
  padding: 12px 15px;
  margin: 8px 15px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
}
.accountbtn{
  color: #fff;
  background-color: #afc68a;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 55px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #afc68a;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
.accountbtn:active{
  transform: scale(0.90);
}
#signIn,#signUp{
  background-color: transparent;
  border: 2px solid #fff;
}
.container .right-panel-active .sign-in{
  transform: translateX(100%);
}
.container .right-panel-active .sign-up{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}
.overlay-ctn{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.container .right-panel-active .overlay-ctn{
  transform: translateX(-100%);
}
.overlay{
  position: relative;
  color: #fff;
  background-color: #afc68a;
  left: -100%;
  height: 100%;
  width: 200%;
  background: linear-gradient(to right, #0a1929,#afc68a);
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.container .right-panel-active .overlay{
  transform: translateX(50%);
}
.overlay-left, .overlay-right{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.overlay-left{
  transform: translateX(-20%);
}
.overlay-right{
  right: 0;
  transform: translateX(0);
  background-color: red;
  background-image: url('https://images.unsplash.com/photo-1562183241-b937e95585b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.container .right-panel-active .overlay-left{
  transform: translateX(0);
}
.container .right-panel-active .overlay-right{
  transform: translateX(20%);
}
.social-ctn{
  margin: 20px;
}
.icons{
  background-color: none;
  border-radius: 50%;
  margin: 5px;
}

.navCtn{
  background-color: #0a1929;
  height: 10vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  padding: 10px;
  cursor: pointer;
  margin: 10px;
} 
.cart-ctn{
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
}
.drawer-ctn{
  background-color: #fff !important;
  width: 30vw !important;
  min-height: 100vh !important;
}
.article-ctn{
  background-color:#ebebeb;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.products{
  display: flex;
  justify-content: center;
  align-items: center;
}
.total-ctn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.price-ctn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 90%;
  min-height: 4vh;
  background-color: #ebebeb;
  border-radius: 10px;
  color:black;
}
.h2-ctn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.title-cart{
  text-decoration: underline gray;
  color: black;
}
.imgShops{
  width:8vw;
  margin: 20px;
  border-radius: 10px;
}
.paypal-btn{
  background-color: #ffaf00;
  color: blue;
  border: none;
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.mp-btn{
  background-color: #009ee3;
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}